li.nav-item a.navbar-brand {
  padding: 20px 40px;
  width: 180px;
  margin-right: 0px;
  text-align: center;
}

li.nav-item {
  margin: 0;
}

li.nav-item a.navbar-brand:hover {
  background-color: rgb(222, 167, 167);
  color: rgb(58, 25, 25);
  font-weight: 600;
}

nav.navbar.navbar-expand {
  padding-top: 0;
  padding-bottom: 0;
}

h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  color: rgb(138, 54, 54);
}


.page {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}